<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Formulário de Contato</h1>
  <form method="POST" th:object="${contato}" th:action="@{/contatos}">
  <div class="alert  alert-danger  alert-dismissible" role="alert"
				th:if="${#fields.hasAnyErrors()}">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>

	<div th:each="erro: ${#fields.detailedErrors()}">
		<i class="fa fa-exclamation-circle"></i>
		
		<span th:text="${erro.message}">Mensagem erro.</span>
	</div>
  </div>
  <div>
  	<input type="text" placeholder="nome" th:field="*{nome}"/>
  </div>
  <div>
  	<input type="text" placeholder="e-mail" th:field="*{email}"/>
  </div>
  <div>
  	<button type="submit">Adicionar</button>
  </div>
  	
  </form>
</body>
</html>